{namespace nm=Fizsoft\FizAccesskeys\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:spaceless>

    <f:section name="List">
        <h2>{f:translate(key:
            'LLL:EXT:easy_accesskeys/Resources/Private/Language/locallang.xlf:accesskeyList')}</h2>
        <dl>
            <f:for each="{accesskeysMenu}" as="item">
                <dt>{item.data.tx_accesskey_page}</dt>
                <dl>{item.data.title}</dl>
            </f:for>
        </dl>
    </f:section>

</f:spaceless>
</html>
